* {
  margin: 0;
  padding: 0;
}

.all {
  margin-left: 20vw;
}

.grey {
  background-color: #dadada;
}

.mainheader {
  width: 100vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.banner {
  width: 20%;
}

.langbg {
  height: 100vh;
  width: 100vw;
  background-image: url("mountains.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.langselect {
  height: 30vh;
  width: 20vw;
  background-color: #FFFFFF;
}

.langbanner {
  width: 100%;
}

.langbtnwrapper {
  position: relative;
  top: 20%;
  overflow: hidden;
}
.langbtn1 {
  position: relative;
  left: 15%;
  width: 30%;
  height: 20%;
  float: left;
}
.langbtn2 {
  position: relative;
  left: 25%;
  width: 30%;
  height: 20%;
  float: left;
}
.langbtntxt {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  color: black;
}

.topbannerimg {
  height: 30vh;
  width: 100vw;
  background-image: url("mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topbannerbox {
  position: relative;
  height: 80%;
  width: 30%;
  top: 10%;
  left: 20%;
  background-color: #333366BB;
}

.topbannerboxh1 {
  position: relative;
  top: 20%;
  left: 4%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  font-weight: lighter;
}

.topbannerboxdivider {
  position: relative;
  top: 17%;
  bottom: 7%;
  left: 4%;
  height: 3%;
  width: 20%;
  background-color: #663366;
}

.topbannerboxp {
  position: relative;
  top: 17%;
  left: 4%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}

.mostrequested {
  width: 100vw;
  height: 15vh;
}

.commontext {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.commonpadding {
  position: relative;
  left: 20vw;
  right: 20vw;
  top: 2vh;
  overflow: hidden;
}

.xycentred {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.topdivider {
  position: relative;
  top: 17%;
  bottom: 7%;
  height: 0.75vh;
  width: 5%;
  background-color: #663366;
}

.overflowhide {
  overflow: hidden;
}

.viewportwidth {
  width: 80vw;
}

.displaybox {
  display: inline-block;
  background-color: #AAAAAA;
  width: 20vw;
}

.displaybox > * {
  position: relative;
  margin: 2%;
}

.explanation {
  margin-left: 5px;
  vertical-align: top;
  display: inline-block;
  white-space: pre-wrap;
}

.space {
  width: 15px;
}