.all {
  margin-left: 20vw;
}

.grey {
  background-color: #AAAAAA;
}

.mainheader {
  width: 100vw;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.banner {
  width: 20%;
}
